body{
    font-size: 14px;
    overflow-x: hidden;
    font-family: $font-default;
    font-weight: 300;
    color: $primary;
    a{
        text-decoration: none;
        color: $primary;
        &:hover{
            color: $tertiary;
            text-decoration: none;
        }
    }
}
.header{
    .top-header{
        background: $secondary;
        height: 40px;
        .social{

        }
    }
    .header-content{
        height: 130px;
    }
}
.partners{
    .owl-carousel{
        position: relative;
        .owl-item{
            .item{
                img{
                    width: 220px;
                }
                .prod-desc{
                    font-weight: bold;
                }
            }
        }
        .owl-nav{
            .owl-prev, .owl-next{
                font-size:56px;
                position: absolute;
                margin: 0;
                top: 90px;
                cursor: pointer;
                color: white;
                opacity: 1;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background: rgba(90,60,50,.15);
                &:hover {
                    background: rgba(90,60,50,.35);
                    outline: none;
                }
                &:focus{
                    outline: none;
                }
                span{
                    position: absolute;
                    top: -19px;
                    right: 15px;
                }
            }
            .owl-prev{
                left: -25px;
                span{
                    right: 18px;
                }
            }
            .owl-next{
                right: -25px;
            }
        }
        .owl-dots{
            display: none;
        }
    }
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.footer{
    background: $secondary;
    padding: 80px 0 0;
    .bottom-footer{
        background: #D48611 url("../images/footer-art.png") repeat-x top center;
        padding: 140px 0 0;
    }
    .stg{
        margin: 40px 0 0;
    }
}
.zap-button{
    position: fixed;
    display: inline-block;
    width: 300px;
    bottom: 100px;
    right: 60px;
    left: inherit;
    z-index: 999;
    a{
        border-radius: 50px;
        padding: .4rem 1.8rem;
        border: 0;
        background: $zap-color;
        text-shadow: 0 -1px 0px rgba(0,0,0,0.15);
        box-shadow: inset 0px 1px 0px #81f54a;
        -moz-box-shadow: inset 0px 1px 0px #81f54a;
        -webkit-box-shadow: inset 0px 1px 0px #81f54a;
        &:hover, &:active{
            box-shadow: inset 0px 1px 6px #93f264;
            -moz-box-shadow: inset 0px 1px 6px #93f264;
            -webkit-box-shadow: inset 0px 1px 6px #93f264;
            background:$zap-color-h;
            border: 0;
            outline: none;
            box-shadow: none !important;
        }
    }
    
}