$font-default: 	        'VAG Rounded Std', sans;
$font-secondary:        'Eds Market Bold Script', sans;

$primary: 		        #008A87;
$secondary:             #FF6B10;
$tertiary:              #FFC123;

$gray:                  #333333;

$zap-color:             #009688;
$zap-color-h:           #16ab94;