$font-default: 	        'Roboto', sans;
$font-secondary:        'Roboto Condensed', sans;

$primary: 		        #008A87;
$secondary:             #FF6B10;
$tertiary:              #FFC123;

$gray:                  #333333;

$zap-color:             #25D266;
$zap-color-h:           #16ab94;