$font-default: 	        'Roboto', sans;
$font-secondary:        'Roboto Condensed', sans;

$main-color:            #333333;
$primary: 		        #008A87;
$secondary:             #FF6B10;
$tertiary:              #FFC123;

$gray:                  #333333;
$color-field:           #F2F2F2;

$zap-color:             #25D266;
$zap-color-h:           #16ab94;

$hover-btn-primary:     #1b5f5d;
$bg-alert-sucess:       #d4edda;
$color-alert-sucess:    #155724; 